doctype
html(lang="en")
  head
    title Untyped
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="Hugues Huygens")
    meta(name="description" content="Untyped")
    link(rel="stylesheet" href="/main.css")
  body
    != yield