doctype
html(lang="en")
  head
    title Untyped
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="Hugues Huygens")
    meta(name="description" content="Untyped")
    meta(name="google-site-verification" content="tNTFfxKfg1dK42P-FhfYZ75-6r55qLAhrVvJ25DweHk")
    link(rel="stylesheet" href="/main.css")
  body
    != yield
  script.
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-97930197-1', 'auto');
    ga('send', 'pageview');